#errorMessage {
  color: tomato;
}

#url {
  color: inherit;
}

.pagination {
  justify-content: center;
}

table {
  table-layout: fixed;
  overflow-x: auto;

}

#spinner-loading {
  width: 10vmax;
  height: auto;
  background-color: #222;
  border-radius: 25%;
  pointer-events: none;
}

body {
  overflow-x: hidden;
  background: #74ebd5;  
  background: -webkit-linear-gradient(to right, #74ebd5, #ACB6E5);
  background: linear-gradient(to right, #74ebd5, #ACB6E5);
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  #spinner-loading {
    animation: spinner infinite 3s linear;
  }
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
